* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Playfair Display";
  src: url(../fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf);
}

.container {
  width: 100vw;
}
main {
  border: 1px solid palevioletred;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-inline: 20vw;
}

h1 {
  width: fit-content;
  margin: auto;
  color: palevioletred;
  font-family: "Playfair Display";
}
